
@media screen and (max-width: 375px) {
  #container1 {
      margin: 0%;
      padding: 0%;
  }
    #divFiltro {
    position: absolute;
    visibility: hidden;
    width: 240px;
    height: 700px;
    margin: 0%;
    top: 0%;
   font-weight: bold;
   background-color: white;
    
}
#fecharFiltro {
    padding: 10px;
    color: gray;
    background: white;
    border: none;
    font-weight: bold;
    
}
#opções {
   display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
    margin-left: 5px;
    margin-top: 20px;
}
#ft {
    font-weight: bold;
    text-align: left;
    border: none;
    background: white;
    margin-top: 10px;
    font-size: 12pt;
    width: 100px;
}

#icoNext {
    position: absolute;
    border: none;
    background: white;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-top: 200px;
    margin-left: 320px;
}
#icoNext1 {
    width: 10px;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}
#icoPrev {
    position: absolute;
    border: none;
    background: white;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-top: 200px;
    margin-left: 20px;
}
#icoPrev1 {
    width: 10px;
    margin-left: 20%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}
#textos {
    margin-left: 10px;
}
#tenis1 {
    width: 380px;
    height: 320px;
    margin-left: 0;
    transform: rotate(-5%, 10%);
}
#titulo {
    margin-top: 30px;
    font-size: 12pt;
    font-weight: bold;
    
    color: hsl(26, 100%, 55%); 
}
#p1 {
    width: 355px;
    font-size: 12pt;
    font-weight: bold;
    color: rgb(172, 169, 169);
}
#preço{
    font-size: 18pt;
    font-weight: bold;
}
#Desc {
    margin-left: 10px;
    height: 10px;
    width: 30px;
    background-color: hsl(25, 100%, 94%);
    color: hsl(26, 100%, 55%);
    font-weight: bold;
}
#preço2 {
    color: rgb(194, 194, 194);
    font-weight: bold;
    margin-left: 140px;
    
}

#adicionar {
   text-align: center;
    margin-top: 20px;
    background-color: hsl(223, 64%, 98%);
    height: 50px;
    border-radius: 10px;
}
#mais {
    margin-left: 250px;
    margin-top: 16px;
}
#menos {
    margin-left: 0px;
    margin-top: 16px;
} 
#quantidade {
    position: absolute;
    margin-left: 120px;
    font-weight: bold;
    margin-top: 12px;
}
#botAdd {
   background-color:  hsl(26, 100%, 55%);
    margin-top: 10px;
    width: 350px;
    height: 50px;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: bold;
}
#carrinho2 {
   position: absolute;
    margin-left: -30px;    
    border: white;
}
#itensCarrinho {
    visibility: hidden;
    position: absolute;
    text-align: center;
    margin-top: 330px;
    height: 260px;
    width: 360px;
    background: white;
    border-radius: 10px;
    
}
#textoCart {
   margin-left: -270px;
   margin-top: 15px;
}
#empty {
    position: absolute;
    font-weight: bold;
     color: rgb(141, 138, 138);
   margin-left: -70px;
   margin-top: 50px;
}

}

