
@media screen and (max-width: 375px) {
  
    #divFiltro {
    position: absolute;
    visibility: hidden;
    width: 240px;
    height: 700px;
    margin: 0%;
    top: 0%;
   font-weight: bold;
   background-color: white;
    
}
#fecharFiltro {
    padding: 10px;
    color: gray;
    background: white;
    border: none;
    font-weight: bold;
    
}
#opções {
   display: block;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Courier, monospace;
    margin-left: 5px;
    margin-top: 20px;
}
#ft {
    font-weight: bold;
    text-align: left;
    border: none;
    background: white;
    margin-top: 10px;
    font-size: 12pt;
    width: 100px;
}

#icoNext {
    position: absolute;
    border: none;
    background: white;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-top: 200px;
    margin-left: 320px;
}
#icoNext1 {
    width: 10px;
    margin-left: 50%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}
#icoPrev {
    position: absolute;
    border: none;
    background: white;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-top: 200px;
    margin-left: 20px;
}
#icoPrev1 {
    width: 10px;
    margin-left: 20%;
    margin-top: 50%;
    transform: translate(-50%, -50%);
}

}
